{
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"insertPragma": false,
	"printWidth": 120,
	"proseWrap": "always",
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true,
	"svelteSortOrder": "scripts-markup-styles",
	"svelteStrictMode": true,
	"svelteAllowShorthand": true,
	"svelteIndentScriptAndStyle": true,
	"svelteBracketNewLine": false
}
