/* begin: src/css/base.css */

@import './base/scrollbars.css';
@import './base/debug.css';

@layer base {
	body {
		@apply bg-bkgr p-0 text-fg selection:bg-primary/70 selection:text-black;

		font-family: 'Montserrat', sans-serif;
	}

	/* #### TYPOGRAPHY #### */
	h1 {
		@apply text-4xl font-medium mb-4;
		@apply text-primary;
	}
	h2 {
		@apply text-2xl font-medium mb-4;
		@apply text-primary/80;
	}
	h3 {
		@apply text-2xl mb-4 font-medium text-secondary;
	}

	p {
		@apply mb-4 text-fg/90;
	}

	/* the outer bounds */
	#page-wrapper {
		@apply relative h-full flex flex-col;
	}

	.section-wrapper {
		@apply relative h-full 2xl:container 2xl:mx-auto;
		@apply border-x border-transparent 2xl:border-white/10;
		/* @apply bg-green-600; */
	}

	/*  */
	#navbar {
		@apply flex items-center justify-end pb-0 pr-4 w-full;
		@apply sticky h-12 top-0 right-0 z-30;
		@apply bg-bkgr text-fg;
		/* @apply shadow shadow-fg/10; */
	}

	#header-logo {
		@apply sticky z-40 right-0 top-0 h-auto -mt-12;
		/* we are setting the width here in order to not interfere with the navbar links */
		/* width: 12rem; */
		width: 4rem;

		& button {
			@apply relative py-4 px-4 pr-4 rounded-br-lg lg:py-4 lg:px-4 lg:pr-8;
			/* @apply shadow shadow-fg/10; */
			@apply text-fg bg-bkgr hover:bg-primary hover:text-white;
			/* @apply backdrop-blur; */
		}

		& #logo {
			@apply pl-4;
		}
	}

	#btn-modal-share,
	#btn-modal-menu {
		@apply px-0 z-40;

		& button {
			@apply py-2 px-2 leading-none text-base uppercase;
			@apply text-fg/50 hover:text-primary hover:bg-bkgr-s2/10;
		}
	}

	#hero {
		@apply relative w-full h-full;
		height: 50rem;
		/* @apply h-[45rem] sm:h-[45rem] lg:h-[45rem] xl:h-[50rem] 2xl:h-[60rem] 3xl:h-[70rem]; */
		/* @apply h-full; */
		/* adjust for #btn-menu causing space above the hero */
		@apply -mt-12;
		/* @apply bg-bkgr; */

		/* this must be here to ensure the image is shown */
		& .inner {
			@apply relative w-full h-full;
		}

		& picture {
			/* @apply absolute z-[1]; */
			/* @apply fixed z-[1]; */
			/* @apply 2xl:container 2xl:mx-auto; */

			& source,
			& img {
				@apply absolute h-full z-[1] bg-black;
				@apply opacity-80;
				@apply w-full object-cover;
			}
		}

		& #hero-contents {
			@apply z-10;
			@apply w-full absolute bottom-0 pt-16 pb-12 px-4 md:px-8 rounded-t-md text-center md:text-left;
			@apply bg-gradient-to-t from-bkgr via-bkgr/50 via-70% to-transparent;
			/* @apply bg-gradient-to-t from-hero-bg to-transparent; */
			/* @apply bg-bkgr; */
		}

		& h1 {
			@apply text-fg leading-none w-full xl:w-2/3;
			font-size: clamp(2rem, 5vw, 3.5rem);

			& small {
				@apply font-medium block;
			}
		}

		& .hero-subheadline {
			@apply text-fg/70 mt-8 leading-tight lg:w-2/3;
			font-size: clamp(1.25rem, 5vw, 2rem);
		}
	}

	#cta {
		@apply w-full;
		/* @apply border-t border-gray-100/30; */
		/* @apply bg-secondary-s60; */

		& .inner {
			@apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 pt-12 pb-16;

			& div {
				@apply py-2 px-8 col-span-1 w-full text-lg;

				&:first-child {
					@apply md:col-span-2 xl:col-span-1 md:w-4/5 lg:w-2/3 xl:w-full;
					@apply text-xl xl:text-2xl;

					/* & h3 {
						@apply text-3xl;
					} */
				}
			}
		}
	}
}

/* end: src/css/base.css */
